.font {
    color: aliceblue;
}

.title{
    font-weight: 400;
    font-size: 60px;
}

.desc{
    font-weight: 300;
    font-size: 30px;
}

.container {
    justify-content: center;
    background-color:rgb(70, 37, 104);
    /* margin: 0px 400px; */
    padding-bottom: 50px;
    padding: 15px;
    border-radius: 15px;
}
